# MYSQL_HOST=localhost # If want to connect mysql using windows (outside docker), then use this
MYSQL_HOST=mysql_db # use this if docker containers want to communicate each other
MYSQL_DATABASE=dbortho
MYSQL_USER=admin
MYSQL_PASSWORD=your_password
MYSQL_ROOT_PASSWORD=your_password
FLASK_ENV=development
MYSQL_PORT=3306
MYSQL_INITDB_SKIP_TZINFO=1
SECRET_KEY=your_flask_secret_key
